<div style="padding: 20px; margin: 5px;">
    <ul>
    <li *ngFor="let element of everything">
        <div class="row">
    <div class="col-md-2"></div>
     <div class="col-md-8"><mdb-card>
  <!--Card image-->
  <!--Card content-->
  <mdb-card-body>

    <!--Title-->
    <mdb-card-title>
      <h4>{{ element.item_name }}</h4>
    </mdb-card-title>

    <!--Text-->
    <mdb-card-text> {{ element.desc }}
    </mdb-card-text><br>
    <hr>
     <mdb-card-text> <label> Price: </label> {{ element.price }} <br> <label> Tax: </label> {{element.tax}} <br> <label> Available Quantity: </label> {{ element.avail }}
    </mdb-card-text>
    <br>
    <hr>
    <ul>
        <li *ngFor="let comment of element.comment">
            <strong>User: </strong>{{comment.byUser}}<br>
            <strong>Rating : </strong>{{comment.rating}}<br>
            {{comment.comment}}
        </li>
    </ul>

    <button mdbBtn color="primary" mdbWavesEffect (click)="addtoCart(element)">Add to Cart</button>&nbsp; &nbsp; &nbsp;
    <button mdbBtn color="primary" mdbWavesEffect (click)="addtoWC(element)">Add to  Wish List</button>&nbsp; &nbsp; &nbsp;
    <button mdbBtn color="primary" mdbWavesEffect (click)="addComment(element)">Add Comment</button>&nbsp; &nbsp; &nbsp;
  </mdb-card-body>
</mdb-card>
<br>
</div>
<div class="col-md-2"></div>
</div>
    </li>
</ul>
</div>
