<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark black">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" routerLink=""> Excaliber </a></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect routerLink="/home/main">Home</a>
            </li>
            <!-- Dropdown -->
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                Admin<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/home/admin/item_fun">Item Controller</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/home/admin/main_fun">User Controller</a>
                </div>
            </li>

        </ul>
        <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link" routerLink=""><i class="fa fa-2x fa-heart"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink=""><i class="fa fa-2x fa-shopping-cart"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink=""><i class="fa fa-2x fa-sign-in"></i></a>
        </li>
      </ul>
        </links>
</mdb-navbar>
<!--/.Navbar-->
 